<div class="formContainer text-center">
    <div class="alert alert-danger center" ng-show="differentPasswords">
        Different Passwords
    </div>
    <div class="alert alert-danger center" ng-show="userAlreadyExists">
        User already exists
    </div>
    <form ng-submit="signUp(username,password,confirmPassword)" name="SignUpForm" class="form-signin" novalidate>
        <input type="text" name="username" ng-model="username" class="form-control"
               placeholder="Nombre de usuario" required autofocus>
        <input type="password" name="password" ng-model="password" class="form-control"
               placeholder="Contraseña" required>
        <input type="password" name="confirmPassword" ng-model="confirmPassword" class="form-control"
               placeholder="Confirme Contraseña" required>
        <button class="btn btn-lg btn-warning btn-block" type="submit"
                ng-disabled="disableButtonSignUp()">
            Sign Up <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </button>
    </form>
</div>