<p class="input-group">
    <input type="text" class="form-control" readonly="true"
      datepicker-popup="{{dateFormat}}" datepicker-options="{{dateOptions}}"
      ng-model="dateSource" 
      is-open="opened"  date-disabled="disabled(date, mode)" 
      ng-required="true"
      current-text="Hoy" clear-text="Borrar" close-text="Cerrar"/>
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event)">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </span>
</p>